.section {
  &__inner {
    width: 100%;
    @include setSizeAndLineHeight(1.5rem, 1.5);
    padding: 9.375rem 0;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: var(--background-position);
  }
  &__content {
    max-width: 38.5%;
  }
  &__title {
    font-weight: 400;
    @include setSizeAndLineHeight(3.4375rem, 1.09);
    margin: 0;
  }
  &__icons {
    > * + * {
      margin-left: 0.5rem;
    }
  }
  &_left {
    .section__inner {
      --background-image: url("@assets/images/persone-image-01.png");
      --background-position: right;
    }
    .section__content {
      margin-left: 4.67em;
    }
  }
  &_right {
    .section__inner {
      --background-image: url("@assets/images/persone-image-02.png");
      --background-position: left;
    }
    .section__content {
      margin: 0 5.04em 0 auto;
    }
  }
}
