:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  min-width: 350px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: $text-color;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
  > section + section {
    margin-top: 300px; // i don't like this solving...
  }
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1440px;
  margin: 0 auto;
  // padding: 0 10px;
}
