.navigation {
  &__list {
    @include setSizeAndLineHeight(0.9375rem, 0.67);
    list-style: none;
    display: flex;
    margin-left: 11em;
    padding: 0;
    > * + * {
      margin-left: 2.67em;
    }
  }
  &__item {
  }
  &__link {
    text-decoration: none;
    color: $nav-text-color;
    transition: color ease-out 0.3s;
    &_active {
      color: $nav-activ-text-color;
    }
  }
}
