$persian-blue: rgb(88, 46, 255);
$white: rgb(255, 255, 255);
$mountain-meadow: rgb(49, 197, 161);
$black-brown: rgb(34, 34, 34);
$signal-black: rgb(51, 51, 51);
$moderate-turquoise: rgb(57, 205, 204);
$aqua: rgb(0, 130, 243);
$fiery-orange: rgb(255, 129, 74);


$substrate-color: rgba($persian-blue, 0.1);
$bg-color: $white;
$alter-bg-color: $mountain-meadow;
$nav-text-color: $black-brown;
$nav-activ-text-color: $aqua;
$text-color: $signal-black;
$label-color: $moderate-turquoise;
$card-color: $fiery-orange;