include mixins/_libs

main.main
    +section({title: "Get Instant Loans", text: "Get instant loans with ease on your smartphone."}, "section_left")
    +section({title: "Save on your own terms", text: "Saving give you financial options"}, "section_right")